@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.dark-blue-bg {
  background: #0B011D;
}

.dark-blue-bg2 {
  background: radial-gradient(50% 50% at 50% 50%, rgba(126, 61, 255, 0.08) 0%, rgba(126, 61, 255, 0) 100%)
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
    , #0B011D;
}

.horizontal-line {
  width: 100%;
  height: 1px;
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.227) 0%, rgba(12, 255, 255, 0) 100%);
  border-radius: 3.73311px;
}

/* 
.star {
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  background-color: #fff;
  animation: twinkle 3s infinite;
}

@keyframes twinkle {
  0% {
    opacity: 0;
    transform: translate(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(200px, 200px);
  }
} */

/* Home Stars */

.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: #fff;
  animation: twinkle 3s infinite;
}

@keyframes twinkle {
  0% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.5;
  }
}

/* Custom Cursor */

.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 9999;
  cursor: none;
  /* Hide the default cursor */
}

.custom-cursor::after {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #fff;
}

.flex-all {
  @apply flex justify-center items-center gap-3;
}

.flex-all2 {
  @apply flex justify-center items-center flex-col gap-6;
}

.glow-button {
  border-radius: 50px;
  padding: 5px 10px;
  font-size: 16px;
  background: radial-gradient(50% 50% at 50% 50%, rgba(168, 128, 255, 0.12) 0%, rgba(168, 128, 255, 0) 100%), rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: inset 0px 0px 4px 3px rgba(168, 128, 255, 0.1);
  transition: all 0.6s;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.glow-button:hover {
  background: radial-gradient(50% 50% at 50% 50%, rgba(168, 128, 255, 0.12) 0%, rgba(168, 128, 255, 0.11) 100%), rgba(255, 255, 255, 0.111);
}

.aboutbg {
  background-image: url('/aboutbg.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.w-500 {
  width: 500px;
}

.grid-box {
  background: radial-gradient(50% 50% at 50% 50%, rgba(126, 61, 255, 0.04) 0%, rgba(126, 61, 255, 0) 100%)
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
    , rgba(11, 1, 29, 0.01);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
}