@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.dark-blue-bg {
  background: #1e1e21;
}

.dark-blue-bg2 {
  background: radial-gradient(50% 50% at 50% 50%, rgba(126, 61, 255, 0.08) 0%, rgba(126, 61, 255, 0) 100%)
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
    , #1e1e21;
}

.horizontal-line {
  width: 100%;
  height: 1px;
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.227) 0%, rgba(12, 255, 255, 0) 100%);
  border-radius: 3.73311px;
}


.shootingstar {
  position: absolute;
  top: 5rem;
  left: 10rem;
  width: 5px;
  height: 5px;
  background-color: #fff;
  animation: shoot 3s infinite;
}

@keyframes shoot {
  0% {
    opacity: 0;
    transform: translate(0, 0);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translate(200px, 200px);
  }
}

/* Home Stars */

.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: #fff;
  animation: twinkle 3s infinite;
}

@keyframes twinkle {
  0% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.5;
  }
}

/* Custom Cursor */

.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 9999;
  cursor: none;
  /* Hide the default cursor */
}

.custom-cursor::after {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #fff;
}

.flex-all {
  @apply flex justify-center items-center gap-3;
}

.flex-all2 {
  @apply flex justify-center items-center flex-col gap-6;
}

.glow-button {
  border-radius: 50px;
  padding: 5px 10px;
  font-size: 16px;
  background: radial-gradient(50% 50% at 50% 50%, rgba(168, 128, 255, 0.12) 0%, rgba(168, 128, 255, 0) 100%), rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: inset 0px 0px 4px 3px rgba(168, 128, 255, 0.1);
  transition: all 0.6s;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.glow-button:hover {
  background: radial-gradient(50% 50% at 50% 50%, rgba(168, 128, 255, 0.12) 0%, rgba(168, 128, 255, 0.11) 100%), rgba(255, 255, 255, 0.111);
}

.aboutbg {
  background-image: url('/aboutbg.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.w-500 {
  width: 500px;
}

.grid-box {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: end;
  padding-bottom: 1rem;
  border-radius: 15px;
  transition: 0.4s;
}

.grid-box:first-child {
  background-image: url('/line.svg');
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
}

.grid-box:hover {
  background: linear-gradient(110deg, rgba(168, 128, 255, 0.00) 25.10%, rgba(168, 128, 255, 0.32) 72.57%, rgba(168, 128, 255, 0.00) 100%), rgba(255, 255, 255, 0.10);
}

.grid-box:first-child:hover {
  background: linear-gradient(110deg, rgba(168, 128, 255, 0.00) 25.10%, rgba(168, 128, 255, 0.32) 72.57%, rgba(168, 128, 255, 0.00) 100%), rgba(255, 255, 255, 0.10);
  background-image: url('/line.svg');
  background-repeat: no-repeat;
  background-position: center;
}

/* Sliding text */

.grid-box:last-child {
  overflow: hidden;
  margin: 0 auto;
  align-items: center;
}

.orb {
  width: 50px;
  height: 50px;
  padding: 10px;
  margin: 0 24.7px;
  float: left;
  transition: all .2s ease-out;
  background: radial-gradient(50% 50% at 50% 50%, rgba(168, 128, 255, 0.12) 0%, rgba(168, 128, 255, 0) 100%), rgba(255, 255, 255, 0.05);
}

.marquee {
  height: 200px;
  width: 1000px;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
}

.marquee--inner {
  display: block;
  width: 200%;
  margin: 70px 0;
  position: absolute;
  animation: marquee 20s linear infinite;
}

/* 
.marquee--inner:hover {
  animation-play-state: paused;
} */

/*.half {
  float: left;
  width: 10%;
}*/

/* span {
  float: left;
  width: 50%;
} */

@keyframes marquee {
  0% {
    left: 0;
  }

  100% {
    left: -100%;
  }
}

/* For Progress Bar */

.grid-box:nth-child(3) {
  align-items: center;
  overflow: hidden;
  gap: 1rem;
  justify-content: center;
}

.progress {
  margin: 10px;
  width: 700px;
}

.progress-bar {
  background-color: #55a63f;
  height: 100%;
  transition: width 0.3s ease-in-out;
}

.progress-bar-success {
  background-color: #55a63f;
}

.progress-bar-striped {
  background: linear-gradient(to right,
      rgba(255, 255, 255, 0.15) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.15) 50%,
      rgba(255, 255, 255, 0.15) 75%,
      transparent 75%,
      transparent);
  background-size: 40px 20px;
}

/* .active {
  animation: progress-stripes 2s linear infinite;
}

@keyframes progress-stripes {
  0% {
    background-position: 40px 0;
  }
  100% {
    background-position: 0 0;
  }
} */


/* Proof */

.proof-box {
  border-radius: 16px;
  background: radial-gradient(70.71% 70.71% at 50% 50%, #242428 0%, #1e1e21 100%), #1e1e21;
  width: 1000px;
  min-height: 700px;
}

.whiteSvg {
  border: 1px solid white;
  padding: 5px;
  width: 40px;
  height: auto;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.04);
  border: 2px solid rgba(255, 255, 255, 0.05);
}

.whiteSvg img {
  width: 30px;
  height: auto;
  fill: white;
}

.whiteSvg img path {
  fill: white;
}

.right-bottom-border {
  background-image: url('/rightbottomborder.svg');
  background-repeat: no-repeat;
  background-position: bottom right;
}

.left-bottom-border {
  background-image: url('/leftbottom.png');
  background-repeat: no-repeat;
  background-position: bottom left;
}

.right-top-border {
  background-image: url('/righttop.png');
  background-repeat: no-repeat;
  background-position: top right;
}

.left-top-border {
  background-image: url('/lefttop.png');
  background-repeat: no-repeat;
  background-position: top left;
}

.light-white:hover {
  background: linear-gradient(110deg, rgba(102, 76, 157, 0) 25.10%, #1e1e2150 72.57%, rgba(168, 128, 255, 0.00) 100%), rgba(255, 255, 255, 0.10);
  border-radius: 6px;
}